# Relay Configuration (JSON string, must be a single line)
# See README.md for the full config schema.
#
# Readable version of the config below:
# {
#   "source": {
#     "chain_id": 480,
#     "world_id_source": "0xFA7D591991a1357888b3C28580691393B824Ac45",
#     "world_id_registry": "0x8556d07D75025f286fe757C7EeEceC40D54FA16D",
#     "oprf_key_registry": "0xb2C02253ee7bFEDF50F5D015658857099980E91F",
#     "issuer_schema_registry": "0x9037125Ae10e9E89fDbe7001228289462EFA3eF3",
#     "bridge_interval_secs": 30
#   },
#   "permissioned_gateways": [
#     {
#       "name": "BASE",
#       "destination_chain_id": 8453,
#       "gateway": "0x39587dC7bC2AC7bA8fEF61fac949bC7d67c7A8eb",
#       "satellite": "0xD5cba5A01051161C8C62d06fd7b9E0Ff5fc1ddf4"
#     }
#   ]
# }
RELAY_CONFIG='{"source":{"chain_id":480,"world_id_source":"0xFA7D591991a1357888b3C28580691393B824Ac45","world_id_registry":"0x8556d07D75025f286fe757C7EeEceC40D54FA16D","oprf_key_registry":"0xb2C02253ee7bFEDF50F5D015658857099980E91F","issuer_schema_registry":"0x9037125Ae10e9E89fDbe7001228289462EFA3eF3","bridge_interval_secs":30},"permissioned_gateways":[{"name":"BASE","destination_chain_id":8453,"gateway":"0x39587dC7bC2AC7bA8fEF61fac949bC7d67c7A8eb","satellite":"0xD5cba5A01051161C8C62d06fd7b9E0Ff5fc1ddf4"}]}'

# Wallet private key for signing relay transactions on all chains, must be funded with ETH
WALLET_PRIVATE_KEY=0x...

# RPC URLs
WORLDCHAIN_RPC_URL=https://worldchain-mainnet.g.alchemy.com/v2/YOUR_API_KEY
ETHEREUM_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/YOUR_API_KEY
BASE_RPC_URL=https://base-mainnet.g.alchemy.com/v2/YOUR_API_KEY
