[package]
name = "world-id-indexer"
version = "0.1.0"
license.workspace = true
edition.workspace = true
publish = false

[dependencies]
world-id-services-common = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["json"] }
telemetry-batteries = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
poseidon2 = { workspace = true }
alloy = { workspace = true, default-features = true, features = [
  "rpc-types",
  "provider-ws",
] }
clap = { workspace = true, features = ["derive", "env"] }
eyre = { workspace = true }
dotenvy = { workspace = true }
url = { workspace = true }
hex = { workspace = true }
thiserror = { workspace = true }
ruint = { workspace = true, features = ["sqlx"] }
futures-util = { workspace = true }
rustls = { workspace = true, features = ["aws-lc-rs"] }
sqlx = { workspace = true, features = [
  "runtime-tokio-rustls",
  "postgres",
  "macros",
  "json",
  "migrate",
] }
semaphore-rs-trees = { workspace = true }
semaphore-rs-hasher = { workspace = true }
semaphore-rs-storage = { workspace = true }
ark-ff = { workspace = true }
ark-bn254 = { workspace = true }
axum = { workspace = true, features = ["macros", "json"] }
http = { workspace = true }
take_mut = { workspace = true }
utoipa = { workspace = true }
world-id-core = { workspace = true, features = [
  "authenticator",
  "embed-zkeys",
] }
world-id-primitives = { workspace = true, features = ["openapi"] }

[dev-dependencies]
world-id-test-utils = { workspace = true }
rand = { workspace = true }
reqwest = { workspace = true }
serial_test = { workspace = true }
tempfile = { workspace = true }
uuid = { workspace = true, features = ["v4"] }
regex = { workspace = true }

[features]
integration-tests = [
] # running integration tests requires running external services (i.e. Postgres)
