# Rust
target/
**/target/

**/contracts/deployments/local.json
**/contracts/lib/*
**/contracts/out/*
**/contracts/cache/
**/contracts/broadcast/
**/contracts/test/fixtures/e2e_mpt/

# Ignore local deployment because it changes every run

bridge/contracts/deployments/local.json
bridge/contracts/script/config/local.json

bridge/contracts/deployments/local.json
bridge/contracts/out/
bridge/contracts/cache/
bridge/contracts/test/fixtures/e2e_mpt/

# Node (if used later)
node_modules/

# Misc
.env
.DS_Store
logs/

# IDE
.idea
.claude
.cursor
.zed/settings.json

# Ignore generated contract ABIs except WorldIDRegistry and CredentialSchemaIssuerRegistry
crates/core/contracts/out/*.sol/*.json
!crates/core/contracts/out/WorldIDRegistry.sol/WorldIDRegistryAbi.json
!crates/core/contracts/out/CredentialSchemaIssuerRegistry.sol/CredentialSchemaIssuerRegistryAbi.json
