[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/openzeppelin-contracts-upgradeable"]
	path = contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "contracts/lib/poseidon-solidity"]
	path = contracts/lib/poseidon-solidity
	url = https://github.com/chancehudson/poseidon-solidity
[submodule "contracts/lib/oprf-key-registry"]
	path = contracts/lib/oprf-key-registry
	url = https://github.com/TaceoLabs/oprf-key-registry
