contracts/out/**/*.json linguist-generated
circom/OPRF*Proof*/**/*.zkey filter=lfs diff=lfs merge=lfs -text
circom/OPRF*Proof*/**/*.r1cs filter=lfs diff=lfs merge=lfs -text
circom/OPRF*Proof*/**/*.wasm filter=lfs diff=lfs merge=lfs -text
