[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/poseidon-solidity"]
	path = contracts/lib/poseidon-solidity
	url = https://github.com/chancehudson/poseidon-solidity
