# Rust
target/
**/target/

# Foundry (forge)
contracts/out/*
contracts/cache/
contracts/broadcast/

# Node (if used later)
node_modules/

# Misc
.env
.DS_Store
logs/

# IDE
.idea
.claude
.cursor
.zed/settings.json

# Ignore generated contract ABIs except WorldIDRegistry and CredentialSchemaIssuerRegistry
crates/core/contracts/out/*.sol/*.json
!crates/core/contracts/out/WorldIDRegistry.sol/WorldIDRegistryAbi.json
!crates/core/contracts/out/CredentialSchemaIssuerRegistry.sol/CredentialSchemaIssuerRegistryAbi.json
