# Rust
target/
**/target/

# Foundry (forge)
contracts/out/*
contracts/cache/
contracts/broadcast/

# Node (if used later)
node_modules/

# Misc
.env
.DS_Store
logs/

# IDE
.idea
.claude
.cursor

# Ignore generated contract ABIs except WorldIDRegistry and CredentialSchemaIssuerRegistry
crates/core/contracts/out/*
!crates/core/contracts/out/WorldIDRegistry.sol/
!crates/core/contracts/out/CredentialSchemaIssuerRegistry.sol/

CLAUDE.md
