# This docker compose file contains all the services required for running locally or end-to-end tests for all services.

name: world-id-protocol-services
services:
  # world-id-indexer
  postgres:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=indexer_tests
  # world-id-gateway
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
  # world-id-oprf-node
  localstack:
    image: localstack/localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=secretsmanager
      - DEBUG=1
  oprf-key-gen0:
    # this tag/sha must match the versions of taceo crates in Cargo.toml
    image: ghcr.io/taceolabs/oprf-service/oprf-key-gen:v1.0.0-rc.5
    network_mode: "host"
    environment:
      OPRF_KEY_GEN_ENVIRONMENT: dev
      OPRF_KEY_GEN_BIND_ADDR: 0.0.0.0:20000
      OPRF_KEY_GEN_OPRF_KEY_REGISTRY_CONTRACT:
      OPRF_KEY_GEN_CHAIN_WS_RPC_URL: ws://127.0.0.1:8545
      OPRF_KEY_GEN_WALLET_PRIVATE_KEY_SECRET_ID: oprf/eth/n0
      OPRF_KEY_GEN_ZKEY_PATH: /app/artifacts/OPRFKeyGenProof13/oprfkeygenproof13_final.arks.zkey
      OPRF_KEY_GEN_WITNESS_GRAPH_PATH: /app/artifacts/OPRFKeyGenProof13/OPRFKeyGenProof13Graph.bin
      OPRF_KEY_GEN_TRANSACTION_CONFIRMATIONS: 1
      OPRF_KEY_GEN_DB_CONNECTION_STRING: postgres://postgres:postgres@localhost:5440/postgres
      OPRF_KEY_GEN_DB_SCHEMA: oprf
    volumes:
      - ./circom/artifacts:/app/artifacts:ro
  oprf-key-gen1:
    # this tag/sha must match the versions of taceo crates in Cargo.toml
    image: ghcr.io/taceolabs/oprf-service/oprf-key-gen:v1.0.0-rc.5
    network_mode: "host"
    environment:
      OPRF_KEY_GEN_ENVIRONMENT: dev
      OPRF_KEY_GEN_BIND_ADDR: 0.0.0.0:20001
      OPRF_KEY_GEN_OPRF_KEY_REGISTRY_CONTRACT:
      OPRF_KEY_GEN_CHAIN_WS_RPC_URL: ws://127.0.0.1:8545
      OPRF_KEY_GEN_WALLET_PRIVATE_KEY_SECRET_ID: oprf/eth/n1
      OPRF_KEY_GEN_ZKEY_PATH: /app/artifacts/OPRFKeyGenProof13/oprfkeygenproof13_final.arks.zkey
      OPRF_KEY_GEN_WITNESS_GRAPH_PATH: /app/artifacts/OPRFKeyGenProof13/OPRFKeyGenProof13Graph.bin
      OPRF_KEY_GEN_TRANSACTION_CONFIRMATIONS: 1
      OPRF_KEY_GEN_DB_CONNECTION_STRING: postgres://postgres:postgres@localhost:5441/postgres
      OPRF_KEY_GEN_DB_SCHEMA: oprf
    volumes:
      - ./circom/artifacts:/app/artifacts:ro
  oprf-key-gen2:
    # this tag/sha must match the versions of taceo crates in Cargo.toml
    image: ghcr.io/taceolabs/oprf-service/oprf-key-gen:v1.0.0-rc.5
    network_mode: "host"
    environment:
      OPRF_KEY_GEN_ENVIRONMENT: dev
      OPRF_KEY_GEN_BIND_ADDR: 0.0.0.0:20002
      OPRF_KEY_GEN_OPRF_KEY_REGISTRY_CONTRACT:
      OPRF_KEY_GEN_CHAIN_WS_RPC_URL: ws://127.0.0.1:8545
      OPRF_KEY_GEN_WALLET_PRIVATE_KEY_SECRET_ID: oprf/eth/n2
      OPRF_KEY_GEN_ZKEY_PATH: /app/artifacts/OPRFKeyGenProof13/oprfkeygenproof13_final.arks.zkey
      OPRF_KEY_GEN_WITNESS_GRAPH_PATH: /app/artifacts/OPRFKeyGenProof13/OPRFKeyGenProof13Graph.bin
      OPRF_KEY_GEN_TRANSACTION_CONFIRMATIONS: 1
      OPRF_KEY_GEN_DB_CONNECTION_STRING: postgres://postgres:postgres@localhost:5442/postgres
      OPRF_KEY_GEN_DB_SCHEMA: oprf
    volumes:
      - ./circom/artifacts:/app/artifacts:ro
  oprf-node-db0:
    image: postgres:latest
    ports:
      - "5440:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
  oprf-node-db1:
    image: postgres:latest
    ports:
      - "5441:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
  oprf-node-db2:
    image: postgres:latest
    ports:
      - "5442:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
