# This docker compose file contains all the services required for running locally or end-to-end tests for all services.

name: world-id-protocol-services
services:
  # world-id-indexer
  postgres:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=indexer_tests
  # world-id-gateway
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
  # world-id-oprf-node
  localstack:
    image: localstack/localstack
    container_name: localstack
    ports:
      - "4566:4566"            
    environment:
      - SERVICES=secretsmanager
      - DEBUG=1
  oprf-key-gen0:
    image: ghcr.io/taceolabs/oprf-service/oprf-key-gen:sha-887b6564ea4a75a6d4b66959930005aedb1ddd11
    network_mode: "host"
    environment:
      OPRF_NODE_ENVIRONMENT: dev
      OPRF_NODE_OPRF_KEY_REGISTRY_CONTRACT:
      OPRF_NODE_CHAIN_WS_RPC_URL: ws://127.0.0.1:8545
      OPRF_NODE_RP_SECRET_ID_PREFIX: oprf/rp/n0
      OPRF_NODE_WALLET_PRIVATE_KEY_SECRET_ID: oprf/eth/n0
      OPRF_NODE_KEY_GEN_ZKEY: /app/OPRFKeyGenProof.13.arks.zkey
      OPRF_NODE_KEY_GEN_GRAPH: /app/OPRFKeyGenGraph.13.bin
  oprf-key-gen1:
    image: ghcr.io/taceolabs/oprf-service/oprf-key-gen:sha-887b6564ea4a75a6d4b66959930005aedb1ddd11
    network_mode: "host"
    environment:
      OPRF_NODE_ENVIRONMENT: dev
      OPRF_NODE_OPRF_KEY_REGISTRY_CONTRACT:
      OPRF_NODE_CHAIN_WS_RPC_URL: ws://127.0.0.1:8545
      OPRF_NODE_RP_SECRET_ID_PREFIX: oprf/rp/n1
      OPRF_NODE_WALLET_PRIVATE_KEY_SECRET_ID: oprf/eth/n1
      OPRF_NODE_KEY_GEN_ZKEY: /app/OPRFKeyGenProof.13.arks.zkey
      OPRF_NODE_KEY_GEN_GRAPH: /app/OPRFKeyGenGraph.13.bin
  oprf-key-gen2:
    image: ghcr.io/taceolabs/oprf-service/oprf-key-gen:sha-887b6564ea4a75a6d4b66959930005aedb1ddd11
    network_mode: "host"
    environment:
      OPRF_NODE_ENVIRONMENT: dev
      OPRF_NODE_OPRF_KEY_REGISTRY_CONTRACT:
      OPRF_NODE_CHAIN_WS_RPC_URL: ws://127.0.0.1:8545
      OPRF_NODE_RP_SECRET_ID_PREFIX: oprf/rp/n2
      OPRF_NODE_WALLET_PRIVATE_KEY_SECRET_ID: oprf/eth/n2
      OPRF_NODE_KEY_GEN_ZKEY: /app/OPRFKeyGenProof.13.arks.zkey
      OPRF_NODE_KEY_GEN_GRAPH: /app/OPRFKeyGenGraph.13.bin
