[profile.default]
src = "src"
out = "out"
test = "test"
libs = ["lib"]
optimizer = true
optimizer_runs = 10000
via_ir = true
ffi = true
memory_limit = 1073741824
gas_limit = "18446744073709551615"

allow_paths = ["../../contracts/src/", "../../contracts/lib/"]

remappings = [
    "@world-id/=../../contracts/src/",
    "lib/oprf-key-registry/=../../contracts/lib/oprf-key-registry/",
    "forge-std/=../../contracts/lib/forge-std/src/",
]

[lint]
exclude_lints = ["screaming-snake-case-const"]

[fmt]
ignore = ["lib"]
