[package]
name = "world-id-core"
description = "Reference SDK for interacting with the World ID Protocol. For authenticator providers, issuers and RPs."
publish = true
edition.workspace = true
version.workspace = true
license.workspace = true
authors.workspace = true
homepage.workspace = true
rust-version.workspace = true
repository.workspace = true
include = [
    "src/**/*",
    "bin/**/*",
    "tests/**/*",
    "contracts/**/*",
    "build.rs",
    "Cargo.toml",
    "README.md",
]


[[bin]]
name = "authenticator"
path = "bin/authenticator.rs"
required-features = ["authenticator", "cli"]

[[bin]]
name = "issuer"
path = "bin/issuer.rs"
required-features = ["issuer", "cli"]

[dependencies]
alloy = { workspace = true, features = ["sol-types", "rpc"] }
ark-babyjubjub = { workspace = true }
backon = { workspace = true, optional = true }
ark-bn254 = { workspace = true }
poseidon2 = { workspace = true }
ark-ff = { workspace = true }
ark-serialize = { workspace = true }
anyhow = { workspace = true }
chrono = "0.4"
ciborium = "0.2"
hex = { workspace = true }
ruint = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
eddsa-babyjubjub = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread", "macros", "net"] }
circom-types = { workspace = true, optional = true }
rand = { workspace = true }
ark-ec = { workspace = true }
eyre = { workspace = true }
reqwest = { workspace = true, optional = true }
secrecy = { version = "0.10", optional = true }
strum = { workspace = true }
world-id-primitives = { workspace = true }
utoipa = { workspace = true, optional = true }
groth16-material = { workspace = true, features = ["circom"], optional = true }
taceo-oprf-client = { workspace = true, optional = true }
taceo-oprf-core = { workspace = true, optional = true }
taceo-oprf-types = { workspace = true, optional = true }
k256 = { workspace = true, features = ["ecdsa","serde"] }
rustls = { workspace = true, optional = true }
webpki-roots = { workspace = true, optional = true }

[features]
default = ["authenticator", "embed-zkeys"]

authenticator = [
    "alloy/contract",
    "alloy/signer-local",
    "alloy/reqwest-rustls-tls",
    "dep:backon",
    "dep:circom-types",
    "dep:reqwest",
    "dep:secrecy",
    "dep:groth16-material",
    "dep:taceo-oprf-client",
    "dep:taceo-oprf-core",
    "dep:taceo-oprf-types",
    "dep:rustls",
    "dep:webpki-roots"
]

embed-zkeys = ["dep:reqwest", "reqwest/blocking"]

issuer = ["alloy/signer-local", "dep:secrecy"]

rp = ["dep:taceo-oprf-types"]

cli = []

# OpenAPI/Swagger docs
openapi = ["dep:utoipa"]

[build-dependencies]
reqwest = { workspace = true, features = ["blocking"], optional = true }

[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docsrs"]

[dev-dependencies]
alloy-node-bindings = "1.0.38"
alloy = { workspace = true, features = ["rpc-types"] }
test-utils = { path = "../test-utils" }
world-id-gateway = { path = "../../services/gateway" }
axum = { version = "0.8", features = ["macros", "json"] }
taceo-oprf-core = { workspace = true }
mockito = "1.6"
taceo-oprf-service = { workspace  = true }
