[package]
name = "world-id-core"
version.workspace = true
license.workspace = true
edition.workspace = true

[[bin]]
name = "authenticator"
path = "bin/authenticator.rs"
required-features = ["authenticator", "cli"]

[[bin]]
name = "issuer"
path = "bin/issuer.rs"
required-features = ["issuer", "cli"]

[dependencies]
alloy = { workspace = true, features = ["sol-types", "rpc"] }
ark-babyjubjub = { workspace = true }
ark-bn254 = { workspace = true }
poseidon2 = { workspace = true }
ark-ff = { workspace = true }
ark-serialize = { workspace = true }
anyhow = { workspace = true }
chrono = "0.4"
ciborium = "0.2"
hex = { workspace = true }
ruint = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
ark-serde-compat = { workspace = true }
eddsa-babyjubjub = { workspace = true }
oprf-client = { workspace = true, optional = true }
oprf-types = { workspace = true, optional = true }
oprf-test = { workspace = true, optional = true }
serde_json = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
circom-types = { workspace = true, optional = true }
rand = { workspace = true }
ark-ec = { workspace = true }
uuid = { workspace = true }
eyre = { workspace = true }
reqwest = { workspace = true, optional = true }
secrecy = { version = "0.10", optional = true }
world-id-primitives = { workspace = true }
utoipa = { version = "5", optional = true }

[features]
default = ["authenticator"]

authenticator = [
    "alloy/contract",
    "alloy/signer-local",
    "alloy/reqwest-rustls-tls",
    "dep:circom-types",
    "dep:oprf-client",
    "dep:oprf-types",
    "dep:reqwest",
    "dep:secrecy",
]

issuer = ["alloy/signer-local", "dep:secrecy"]

rp = ["dep:oprf-types"]

cli = []

# OpenAPI/Swagger docs
openapi = ["dep:utoipa"]

[dev-dependencies]
alloy-node-bindings = "1.0.38"
alloy = { workspace = true, features = ["rpc-types"] }
test-utils = { path = "../test-utils" }
world-id-gateway = { path = "../../services/gateway" }
