[package]
name = "world-id-core"
version.workspace = true
license.workspace = true
edition.workspace = true

[[bin]]
name = "authenticator"
path = "bin/authenticator.rs"
required-features = ["authenticator", "cli"]

[[bin]]
name = "rp"
path = "bin/rp.rs"
required-features = ["cli"]

[[bin]]
name = "issuer"
path = "bin/issuer.rs"
required-features = ["issuer"]

[dependencies]
alloy = { version = "1", features = ["sol-types", "rpc"], default-features = false }
ark-babyjubjub = { workspace = true }
ark-bn254 = { workspace = true }
poseidon2 = { workspace = true }
ark-ff = { workspace = true }
ark-serialize = { workspace = true }
anyhow = { workspace = true }
chrono = "0.4"
ciborium = "0.2"
hex = { workspace = true }
ruint = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
ark-serde-compat = { workspace = true }
eddsa-babyjubjub = { workspace = true }
oprf-client = { workspace = true, optional = true }
oprf-types = { workspace = true, optional = true }
oprf-test = { git = "https://github.com/TaceoLabs/nullifier-oracle-service", optional = true, rev = "9b15783" }
oprf-world-types = { workspace = true }
oprf-zk = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
circom-types = { workspace = true, optional = true }
rand = { workspace = true }
ark-ec = { workspace = true }
uuid = { workspace = true }
eyre = { workspace = true }
groth16 = { workspace = true, optional = true }
reqwest = { workspace = true, optional = true }
secrecy = { version = "0.10.3", optional = true }
world-id-primitives = { workspace = true }

[features]
default = ["authenticator"]

authenticator = [
    "alloy/contract",
    "alloy/signer-local",
    "alloy/reqwest-rustls-tls",
    "dep:circom-types",
    "dep:groth16",
    "dep:oprf-client",
    "dep:oprf-types",
    "dep:reqwest",
    "dep:secrecy"
]

issuer = ["alloy/signer-local", "dep:secrecy"]

rp = ["dep:oprf-types"]

cli = ["dep:oprf-test"]

[dev-dependencies]
alloy-node-bindings = "1.0.38"
alloy = { version = "1", features = ["rpc-types"] }
test-utils = { path = "../test-utils" }
