[package]
name = "world-id-core"
version.workspace = true
license.workspace = true
edition.workspace = true

[[bin]]
name = "authenticator"
path = "bin/authenticator.rs"
required-features = ["authenticator", "cli"]

[[bin]]
name = "rp"
path = "bin/rp.rs"
required-features = ["cli"]

[[bin]]
name = "issuer"
path = "bin/issuer.rs"
required-features = ["issuer"]

[dependencies]
alloy = { workspace = true, default-features = false, features = ["sol-types"] }
ark-babyjubjub = { workspace = true }
ark-bn254 = { workspace = true }
poseidon2 = { workspace = true }
ark-ff = { workspace = true }
ark-serialize = { workspace = true }
anyhow = { workspace = true }
chrono = "0.4"
ciborium = "0.2"
hex = { workspace = true }
ruint = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
ark-serde-compat = { workspace = true }
eddsa-babyjubjub = { workspace = true }
oprf-types = { workspace = true, optional = true }
oprf-world-types = { workspace = true }
serde_json = { workspace = true }
rand = { workspace = true }
ark-ec = { workspace = true }
uuid = { workspace = true }
eyre = { workspace = true }
getrandom = { workspace = true }
secrecy = { version = "0.10", optional = true }
world-id-primitives = { workspace = true }
utoipa = { version = "5", optional = true }
tokio = { workspace = true, optional = true, default-features = false }
tracing-subscriber = { workspace = true, optional = true }
groth16 = { workspace = true, optional = true }
circom-types = { workspace = true, optional = true }
oprf-client = { workspace = true, optional = true }
oprf-test = { workspace = true, optional = true }
oprf-zk = { workspace = true, optional = true }
reqwest = { version = "0.12", default-features = false, optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
alloy = { workspace = true, features = [
    "contract",
    "rpc",
    "signer-local",
    "reqwest-rustls-tls",
] }
circom-types = { workspace = true, optional = true }
groth16 = { workspace = true, optional = true }
oprf-client = { workspace = true, optional = true }
oprf-test = { workspace = true, optional = true }
oprf-zk = { workspace = true, optional = true }
reqwest = { version = "0.12", default-features = false, optional = true, features = [
    "json",
    "rustls-tls",
] }
tokio = { workspace = true, optional = true, features = [
    "rt-multi-thread",
    "macros",
] }
tracing-subscriber = { workspace = true, optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
reqwest = { version = "0.12", default-features = false, optional = true, features = [
    "json",
] }
gloo-timers = { version = "0.2", features = ["futures"] }

[features]
default = ["authenticator"]

authenticator = [
    "dep:circom-types",
    "dep:groth16",
    "dep:oprf-client",
    "dep:oprf-types",
    "dep:oprf-zk",
    "dep:reqwest",
    "dep:secrecy",
    "dep:tokio",
    "dep:tracing-subscriber",
]

issuer = ["dep:secrecy", "dep:tokio"]

rp = ["dep:oprf-types"]

cli = ["dep:oprf-test", "dep:tokio"]

# OpenAPI/Swagger docs
openapi = ["dep:utoipa"]

[dev-dependencies]
alloy-node-bindings = "1.0.38"
alloy = { workspace = true, features = ["rpc-types"] }
test-utils = { path = "../test-utils" }
world-id-gateway = { path = "../../services/gateway" }
