[package]
name = "world-id-core"
version.workspace = true
license.workspace = true
edition.workspace = true

[[bin]]
name = "authenticator"
path = "bin/authenticator.rs"
required-features = ["authenticator", "cli"]

[[bin]]
name = "rp"
path = "bin/rp.rs"
required-features = ["cli"]

[[bin]]
name = "issuer"
path = "bin/issuer.rs"
required-features = ["issuer"]

[dependencies]
alloy = { workspace = true, features = ["sol-types", "rpc"] }
ark-babyjubjub = { workspace = true }
ark-bn254 = { workspace = true }
poseidon2 = { workspace = true }
ark-ff = { workspace = true }
ark-serialize = { workspace = true }
anyhow = { workspace = true }
chrono = "0.4"
ciborium = "0.2"
hex = { workspace = true }
ruint = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
ark-serde-compat = { workspace = true }
eddsa-babyjubjub = { workspace = true }
oprf-client = { workspace = true, optional = true, default-features = false }
oprf-types = { workspace = true, optional = true }
oprf-test = { workspace = true, optional = true }
oprf-world-types = { workspace = true }
oprf-zk = { workspace = true }
serde_json = { workspace = true }
rand = { workspace = true }
ark-ec = { workspace = true }
uuid = { workspace = true }
eyre = { workspace = true }
secrecy = { version = "0.10", optional = true }
world-id-primitives = { workspace = true }
utoipa = { version = "5", optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
tracing-subscriber = { workspace = true }
reqwest = { workspace = true, optional = true, features = ["rustls-tls"] }
oprf-client = { workspace = true, optional = true, features = ["tokio"] }
alloy = { workspace = true, features = ["reqwest-rustls-tls"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
reqwest = { workspace = true, features = ["json"], optional = true }
getrandom = { version = "0.2", features = ["js"] }
gloo-timers = { version = "0.3", features = ["futures"] }
alloy = { workspace = true, features = ["wasm-bindgen", "reqwest"] }

[features]
default = ["authenticator"]

authenticator = [
    "alloy/contract",
    "alloy/signer-local",
    "dep:oprf-client",
    "dep:oprf-types",
    "dep:reqwest",
    "dep:secrecy",
]

issuer = ["alloy/signer-local", "dep:secrecy"]

rp = ["dep:oprf-types"]

cli = ["dep:oprf-test"]

# OpenAPI/Swagger docs
openapi = ["dep:utoipa"]

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
alloy-node-bindings = "1.0.38"
alloy = { workspace = true, features = ["rpc-types"] }
test-utils = { path = "../test-utils" }
world-id-gateway = { path = "../../services/gateway" }
