services:
  localstack:
    image: localstack/localstack
    container_name: localstack
    stop_grace_period: 1s
    ports:
      - "4566:4566"            
    environment:
      - SERVICES=secretsmanager
      - DEBUG=1
  postgres:
    container_name: "postgres"
    image: postgres
    ports:
      - "5432:5432"            
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
  oprf-key-gen0:
    container_name: "oprf-key-gen0"
    image: ghcr.io/taceolabs/oprf-service/oprf-key-gen:sha-6ffd9fdcebd0dcc2aa89426346e5441b53cb537e
    network_mode: "host"
    environment:
      OPRF_NODE_ENVIRONMENT: dev
      OPRF_NODE_OPRF_KEY_REGISTRY_CONTRACT: $OPRF_NODE_OPRF_KEY_REGISTRY_CONTRACT
      OPRF_NODE_CHAIN_WS_RPC_URL: ws://127.0.0.1:8545
      OPRF_NODE_RP_SECRET_ID_PREFIX: oprf/rp/n0
      OPRF_NODE_WALLET_PRIVATE_KEY_SECRET_ID: oprf/eth/n0
      OPRF_NODE_KEY_GEN_ZKEY: /app/OPRFKeyGenProof.13.arks.zkey
      OPRF_NODE_KEY_GEN_GRAPH: /app/OPRFKeyGenGraph.13.bin
  oprf-key-gen1:
    container_name: "oprf-key-gen1"
    image: ghcr.io/taceolabs/oprf-service/oprf-key-gen:sha-6ffd9fdcebd0dcc2aa89426346e5441b53cb537e
    network_mode: "host"
    environment:
      OPRF_NODE_ENVIRONMENT: dev
      OPRF_NODE_OPRF_KEY_REGISTRY_CONTRACT: $OPRF_NODE_OPRF_KEY_REGISTRY_CONTRACT
      OPRF_NODE_CHAIN_WS_RPC_URL: ws://127.0.0.1:8545
      OPRF_NODE_RP_SECRET_ID_PREFIX: oprf/rp/n1
      OPRF_NODE_WALLET_PRIVATE_KEY_SECRET_ID: oprf/eth/n1
      OPRF_NODE_KEY_GEN_ZKEY: /app/OPRFKeyGenProof.13.arks.zkey
      OPRF_NODE_KEY_GEN_GRAPH: /app/OPRFKeyGenGraph.13.bin
  oprf-key-gen2:
    container_name: "oprf-key-gen2"
    image: ghcr.io/taceolabs/oprf-service/oprf-key-gen:sha-6ffd9fdcebd0dcc2aa89426346e5441b53cb537e
    network_mode: "host"
    environment:
      OPRF_NODE_ENVIRONMENT: dev
      OPRF_NODE_OPRF_KEY_REGISTRY_CONTRACT: $OPRF_NODE_OPRF_KEY_REGISTRY_CONTRACT
      OPRF_NODE_CHAIN_WS_RPC_URL: ws://127.0.0.1:8545
      OPRF_NODE_RP_SECRET_ID_PREFIX: oprf/rp/n2
      OPRF_NODE_WALLET_PRIVATE_KEY_SECRET_ID: oprf/eth/n2
      OPRF_NODE_KEY_GEN_ZKEY: /app/OPRFKeyGenProof.13.arks.zkey
      OPRF_NODE_KEY_GEN_GRAPH: /app/OPRFKeyGenGraph.13.bin
