[package]
name = "world-id-proof"
description = "World ID Proof crate"
publish = true
edition.workspace = true
version.workspace = true
license.workspace = true
authors.workspace = true
homepage.workspace = true
rust-version.workspace = true
repository.workspace = true
include = [
    "src/**/*",
    "tests/**/*",
    "../../contracts/abi/*",
    "build.rs",
    "Cargo.toml",
    "README.md",
]

[features]
default = ["embed-zkeys"]
# Embed zkeys into binary
embed-zkeys = []
# Compress the embedded zkeys to reduce binary size
compress-zkeys = ["embed-zkeys"]

[dependencies]
alloy = { workspace = true, features = ["sol-types"] }
ark-babyjubjub = { workspace = true }
ark-bn254 = { workspace = true }
poseidon2 = { workspace = true }
ark-ff = { workspace = true }
ark-serialize = { workspace = true }
ark-groth16 = { workspace = true }
hex = { workspace = true }
ruint = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
eddsa-babyjubjub = { workspace = true }
serde_json = { workspace = true }
rand = { workspace = true }
ark-ec = { workspace = true }
groth16-material = { workspace = true }
taceo-oprf = { workspace = true }
circom-types = { workspace = true }
eyre = { workspace = true }
strum = { workspace = true }
zeroize = { workspace = true }
k256 = { workspace = true, features = ["ecdsa", "serde"] }

# Internal
world-id-request = { workspace = true }
world-id-credential = { workspace = true }
world-id-primitives = { workspace = true }

[build-dependencies]
eyre = { workspace = true }
reqwest = { workspace = true, features = ["blocking"] }
ark-serialize = { workspace = true }
circom-types = { workspace = true, features = ["bn254", "groth16", "zkey"] }
rayon = "1.10"

[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docsrs"]
rustc-args = ["--cfg", "docsrs"]
