# Builds the Docker images for the services and pushes them to the GitHub Container Registry attested
name: Build Docker Images

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  docker-build:
    name: Docker Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          - indexer
          - gateway
          - oprf-node
    permissions:
      contents: read
      id-token: write
      packages: write
      attestations: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/${{ github.repository }}/world-id-${{ matrix.service }}
          tags: |
            type=raw,value=latest,enable=${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
            type=sha

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Build
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: "type=gha,mode=max"
          platforms: linux/amd64
          build-args: |
            SERVICE_NAME=world-id-${{ matrix.service }}
            GIT_HASH=${{ github.sha }}

      - name: Attest
        uses: actions/attest-build-provenance@v1
        with:
          push-to-registry: true
          subject-name: ghcr.io/${{ github.repository }}/world-id-${{ matrix.service }}
          subject-digest: ${{ steps.docker_build.outputs.digest }}
