name: "Validate PR"

on:
  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v5
    env:
      GITHUB_TOKEN: ${{ github.token }} # granting access only to read pull requests
